.tickerShell {
  display: flex;
  border: 1px solid white;
  padding: .1rem;
  flex: 12rem;
  margin-left: 8rem;
}

.tickerCell {
  flex: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  > .tickerCellValue {
    font-size: 2.2rem;
  }

  > .tickerCellLabel {
    font-size: 1.3rem;
    font-style: italic;
  }
}

.separator {
  font-size: 2rem;
}

