@import '../../../styles/variables';

.root {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  &__chapterNumber {
    font-weight: bold;
    margin-right: 1rem;
  }

  &__text {
    flex: inherit;
  }
}