@import '../../../styles/variables';

.root {
  font-family: $font_disney_font;
  font-size: 4rem;
  @include screen-s-strict {
    font-size: 1rem;
  }

  &__title {
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
  }

  &__chapter {
    font-size: 5rem;
    text-align: center;
  }
}
