@import '../../../styles/variables';

.appMenu {
  background-color: purple;
  &__box {
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  &__button {
    @include screen-s-strict {
      margin: 0 2rem 0 0;
    }
    @include screen-m-strict {
      margin: 0 10rem 0 0;
    }
    text-align: center;
    font-size: 2rem;
    color: white;
    display: block;
  }

  &__rsvpText {
    @include screen-s-strict {
      margin: 0 2rem 0 0;
      font-size: 1rem;
    }
    @include screen-m-strict {
      margin: 0 10rem 0 0;
    }
    font-family: $font_disney_font;
    text-align: center;
    font-size: 2rem;
    color: white;
    display: block;
  }}
