@import url('http://fonts.cdnfonts.com/css/new-walt-disney-ui');

.appMenu {
  &__logo {
    text-align: center;
    margin-right: 2rem;
    font-size: 3rem;
    font-family: 'New Walt Disney Font', sans-serif;
  }

  &__button {
    text-align: center;
    margin: 0 2rem 0 0;
    font-size: 2rem;
    font-family: 'New Walt Disney UI', sans-serif;
    color: white;
    display: block;
  }
}
