@import 'src/scss/constants/fonts';
@import 'src/scss/mixins/breakpoints';

.rsvpForm {
  @include screen-s-strict {
    background-image: none;
  }
  text-align: center;
  background-image: url('/img/beOurGuest.jpeg');
  background-repeat:no-repeat;
  background-size:contain;
  border: .4rem solid purple;

  &__label {
    @include screen-s-strict {
      margin-right: 1rem;
    }
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    margin-right: 2rem;
    font-family: $font_disney_ui;
  }

  &__input {
    @include screen-s-strict {
      margin-top: 1rem;
      width: 45%;
    }
    margin-top: 2rem;
    font-size: 2rem;
    font-family: $font_disney_font;
    max-width: 20rem;
  }

  &__checkboxes {
    transform: scale(1.5);
    margin-right: 1rem;
  }

  &__button {
    margin-left: 1rem;
    font-family: $font_disney_font;
    font-size: 2rem;
    text-align: center;
    color: black;
  }

  &__finished {
    @include screen-s-strict {
      margin-left: 0;
      margin-top: 5rem;
      font-size: 2.7rem;
    }
    flex-direction: column;
    font-family: $font_disney_font;
    color: purple;
    font-size: 4rem;
    margin-left: 8rem;
    text-align: center;
    align-self: center;
  }

  &__error {
    font-size: 1rem;
    font-family: $font_disney_font;
    color: red;
    text-align: center;
  }
}
