@import '../../../styles/variables';

.rsvp {
  &__intro {
    margin: 1.4rem;
    @include screen-s-strict {
      font-size: 1.7rem;
    }
    font-size: 3rem;
    text-align: center;
    font-family: $font_disney_font;
  }

  &__venue {
    margin: 0.7rem;
    @include screen-s-strict {
      font-size: 1.7rem;
    }
    font-size: 3rem;
    text-align: center;
    font-family: $font_disney_font;
  }

  &__wrapper {
    flex-direction: row;
  }

  &__imageWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  &__image {
    @include screen-s-strict {
      width: 100%;
    }
    @include screen-m-strict {
      width: 80%;
    }
  }
}
