@import 'src/scss/constants/fonts';
@import 'src/scss/mixins/breakpoints';

.root {
  &__backgroundImage {
    @include screen-s-strict {
      height: 15em;
    }
    background-image: url('/img/disney.jpeg');
    height: 60rem;
    background-repeat:no-repeat;
    background-size:contain;
  }

  &__names {
    @include screen-s-strict {
      padding-top: 2rem;
      font-size: 1.5rem;
    }
    padding-top: 10rem;
    font-family: $font_disney_font;
    font-size: 7rem;
    color: white;
    text-align: center;
  }

  &__text {
    @include screen-s-strict {
      font-size: 1rem;
      margin-top: 1rem;
    }
    font-family: $font_disney_font;
    font-size: 6rem;
    color: white;
    text-align: center;
    margin-top: 3rem;
  }

  &__homeImg {
    width: -webkit-fill-available;
  }
}
