@import 'src/scss/constants/fonts';
@import 'src/scss/mixins/breakpoints';

.pictures {
  align-content: center;
  flex-direction: column;
  display: flex;

  &__button {
    align-content: center;
    font-size: 2rem;
    color: black;
    background-color: blue;
  }

  &__input {
    align-self: center;
    font-family: $font_disney_font;
    color: blue;
    font-size: 2rem;
  }
}
