@import 'src/scss/constants/fonts';
@import 'src/scss/mixins/breakpoints';

.pictures {
  align-content: center;
  flex-direction: column;
  display: flex;

  &__button {
    font-family: system-ui;
    align-content: center;
    font-size: 2rem;
    color: white;
    background-color: purple;
  }

  &__input {
    align-self: center;
    font-family: $font_disney_font;
    color: purple;
    font-size: 2rem;
    display: none;
  }

  &__stack {
    &__upload {
      display: flex;
      width: 100%;
      color: purple;
    }

    &__choosePicture {
      background-color: purple;
    }
  }
}
